@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@200;300&family=Nunito:wght@200;300;900&family=Oswald:wght@200;500;700&family=Outfit:wght@300;500;900&display=swap');

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(107,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-18.2 -10.4) rotate(-10.4 1409 581) scale(0.922)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-65 26) rotate(-5.2 800 450) scale(0.987)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-18.2 39) rotate(-65 401 736) scale(0.987)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(156 15.6) rotate(-3.9 150 345) scale(1.026)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(39 -78) rotate(-93.6 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-10.4 -10.4) rotate(-15.6 1400 132) scale(0.87)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.nav-link {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: xx-large;
    color: #000;
    text-shadow: 0 1px 0px #dbf3bf, 1px 0 0px #dbf1b6, 1px 2px 1px #dbf3bf, 2px 1px 1px #dbf1b6, 2px 3px 2px #dbf3bf, 3px 2px 2px #dbf1b6, 3px 4px 2px #dbf3bf, 4px 3px 3px #dbf1b6, 4px 5px 3px #dbf3bf, 5px 4px 2px #dbf1b6, 5px 6px 2px #dbf3bf, 6px 5px 2px #dbf1b6, 6px 7px 1px #dbf3bf, 7px 6px 1px #dbf1b6, 7px 8px 0px #dbf3bf, 8px 7px 0px #dbf1b6;    
}

.nav-link:hover {
    color: #000;
}

#my-landing-hero {
    min-height: 100vh;
}

#my-hero-image {
    max-height: 600px;
}


.lead {
    background-color: #ffffff;
}

#my-work {
 min-height: 80vh;   
}

.my-work-card {
    background-color: slategray
}

#my-skills-table {
    background-color: #ffffff;
    min-height: 60vh;
}

#contact {
    min-height: 50vh;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    width: 80px;
    height: 85px;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }